$__primarycolor: #19ce2a;
$__primarylight: rgba(255, 255, 255, 0.2);
$__primary__light__blue: #ecebff;
$__secondarycolor: #231f20;
$__secondarycolor__light: #787878;
$__white: #ffffff;
$__cylindrical: #fcfbfb;
$__grayish__blue: #3f4254;
$__gray: #2f2f2f;
$__gray__dark: #201f1d;
$__text-warning__light: #ffa633;
$__golden__yellow: #eda600;
$__gray__lightdark: #828282;
$__light__gooses: #f4f4f4;
$__dark__blues: #0b1b74;
$__blue__light: #dbdbdb;
$__warningcolor: #ff9307;
$__goose-gray: #201f1d;
$__sandstone: #737373;
$__light__vampire: #f2f7f6;
$__grey: #787878;
$__dangered: #ff0000;
$__note__light: rgb(130, 130, 130);
$__note__lights: rgb(130, 130, 130, 1);
$__light_grass: rgba(18, 115, 132, 1);
$__light__smokey-grays: #201f1d;
$__cloud__grays: #edecf8;
$__graybackblue: #28283c;
$__alice__blue: #fcfcfc;
$__success__light: #1fbc2f;
$__gray15: #878a99;
$__light__grayish: #f1f1f1;
$__light__gray__has: #e3e3e3;
$__mine__shaft: #374b5c;
$__light__gray: #dee2e7;
$__black_color: #141432;
$__black: #000;
$__white__smoke: #efefef;
$__violet__dark: #377dff;
$__dark__black: #1f2937;
$__ash: #dee2e6;
$__dark__gray: #888888;
$__smoke__white: #f3f3f3;
$__bg__primary__light: #eaddff;
$__bg__green__light: #e1ffed;
$__bg__danger__light: #ffecec;
$__black-gray: #111;
$__light__hash: #f5f5f5;
$__gray_light: #676767;
$__info_color: #00ccff;
$__green__shade: #20bf8b;
$__purple: #9747ff;
